<%= form_for(@message) do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "To:" %><br>
    <%= f.collection_select(:recepient, authorized_members(), :phone_number, :name, :include_blank => "Please select Member", :class=>"form-control") %>
  </div>

  <div class="field">
    <%= f.label "Body:" %><br>
    <%= f.text_area :body, :class=>"form-control", :rows =>"3"%>
  </div>
  <br />
  <div class="actions">
    <%= f.submit "Submit", :class=>"btn btn-primary" %>
  </div>
<% end %>
