<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Chama Message Manager
        <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Message Manager</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">


    <div class="row">
    	<% if @message_manager.sms_balance < 10 %>
    		<div class="alert alert-danger alert-dismissable">
                <i class="fa fa-ban"></i>
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <b>Alert!</b> Your SMS balance is running low. Please top up to avoid service interuptions.
            </div>
    	<% end %>
        
        <div class="col-md-6">
            <div class="box box-primary">
            	<div class="box-header">
	                <h3 class="box-title">SMS Stats<h3>
	            </div><!-- /.box-header -->
                <div class="box-body">
                    <p id="notice"><%= notice %></p>

						<p>
						  <strong>Sms balance:</strong>
						  <%= @message_manager.sms_balance %>
						</p>

						<p>
						  <strong>Chama:</strong>
						  <%= @message_manager.chama.name %>
						</p>
                    
                </div><!-- /.box-body -->
            </div><!-- /. box -->
        </div><!-- /.col -->
        <div class="col-md-6">
            <div class="box box-primary">
            	<div class="box-header">
	                <h3 class="box-title">Top Up SMS<h3>
	            </div><!-- /.box-header -->
                <div class="box-body">
                    <%= link_to "Buy SMS Bundle", new_sms_fee_path, :class => 'btn btn-success btn-flat' %>
                    
                </div><!-- /.box-body -->
            </div><!-- /. box -->
        </div><!-- /.col -->
</div><!-- /.row -->


<div class="row">
    <div class="col-md-12">
      <div class="box">
              <div class="box-header">
                  <h3 class="box-title">All SMS Transactions </h3>
              </div><!-- /.box-header -->
              <%= will_paginate @sms_fees %>
              <div class="box-body no-padding">
                  <table class="table table-striped">
                      <tr>
                        <th>#</th>
                        <th>Package</th>
                        <th>Amount</th>
                        <th>Transaction status</th>
                        <th>Pesapal transaction tracking</th>
                        <th>Pesapal merchant reference</th>
                        <th>Chama</th>
                        <th colspan="2">Actions</th>
                      </tr>
                      <% @sms_fees.each do |sms_fee| %>
                      <tr>
                        <td><%= link_to sms_fee.id, '#' %></td>
                        <td><%= sms_fee.package %></td>
                        <td><%= sms_fee.amount %></td>
                        <td><%= sms_fee.txn_status %></td>
                        <td><%= sms_fee.pesapal_txn_tracking_id %></td>
                        <td><%= sms_fee.pesapal_merchant_reference %></td>
                        <td><%= sms_fee.chama.name %></td>
                        <td>
                            <%= link_to 'Edit', edit_sms_fee_path(sms_fee) %>
                        </td>
                      </tr>
                    <% end %>
                      
                  </table>


                  <%= link_to "Buy SMS Bundle", new_sms_fee_path, :class => 'btn btn-success btn-flat' %>
              </div><!-- /.box-body -->
          </div><!-- /.box -->
    </div>
    </div>
</section>
