<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Chama Message Manager
        <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Message Manager</li>
    </ol>
</section>

<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @message.body %>
</p>

<p>
  <strong>Recepient:</strong>
  <%= @message.recepient %>
</p>

<p>
  <strong>Message manager:</strong>
  <%= @message.message_manager %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
