<%= form_for(@message_manager) do |f| %>
  <% if @message_manager.errors.any? %>
    <div id="error_explanation">
      
      <ul>
      <% @message_manager.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sms_balance %><br>
    <%= f.number_field :sms_balance, :class=>"form-control" %>
  </div>
  <div class="field">
    <%= f.label :chama_id %><br>
    <%= f.collection_select(:chama_id, Chama.all, :id, :name, :include_blank => "Please select Chama", :class=>"form-control") %>
  </div>
  <br />
  <div class="actions">
    <%= f.submit "Submit", :class=>"btn btn-primary" %>
  </div>
<% end %>
