<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
          <div class="box">
                  <div class="box-header">
                      <h3 class="box-title">All Chamas Message Managers </h3>
                  </div><!-- /.box-header -->
                  <%= will_paginate @message_managers %>
                  <div class="box-body no-padding">
                      <table class="table table-striped">
                          <tr>
                              <th >#</th>
                              <th>Chama</th>
                              <th>SMS Balance</th>
                              <th>Last Updated</th>
                              <th>Actions</th>
                          </tr>
                          <% @message_managers.each do |message_manager| %>
                          <tr>
                            <td><%= message_manager.id %></td>
                            <td><%= link_to message_manager.chama.name, '#' %></td>
                            <td><%= message_manager.sms_balance %></td>
                            <td><%= message_manager.updated_at.to_formatted_s(:long_ordinal) %></td>

                            <td><%= link_to 'Edit', edit_message_manager_path(message_manager) %>
                            <%= link_to 'Destroy', message_manager, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                          </tr>
                        <% end %>
                          
                      </table>


                      <%= link_to "Add A New message Manager", new_message_manager_path, :class => 'btn btn-primary' %>
                  </div><!-- /.box-body -->
              </div><!-- /.box -->
        </div>
    </div>
</section>

