<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Withdrawals
        <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">withdrawals</li>
    </ol>
</section>

<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  <%= @withdrawal.amount %>
</p>

<p>
  <strong>Description:</strong>
  <%= @withdrawal.description %>
</p>

<p>
  <strong>Member:</strong>
  <%= @withdrawal.chama.name %>
</p>

<%= link_to 'Edit', edit_withdrawal_path(@withdrawal) %> |
<%= link_to 'Back', withdrawals_path %>
