<%= form_for(@penalty_repayment) do |f| %>
  <% if @penalty_repayment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@penalty_repayment.errors.count, "error") %> prohibited this penalty_repayment from being saved:</h2>

      <ul>
      <% @penalty_repayment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :amount %><br>
    <%= f.text_field :amount ,:class=>"form-control"%>
  </div>
  <div class="field">
    <%= f.label :penalty_id %><br>
    <%= f.collection_select :penalty_id, penalty_to_repay(),:id,:member_name,:include_blank => "Select Penalty to Repay" ,:class=>"form-control"%>
  </div>
  <br />
  <div class="actions">
     <%= f.submit "Submit", :class=>"btn btn-primary" %>
  </div>
<% end %>
