<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  <%= @penalty_repayment.amount %>
</p>

<p>
  <strong>Penalty:</strong>
  <%= @penalty_repayment.penalty %>
</p>

<%= link_to 'Edit', edit_penalty_repayment_path(@penalty_repayment) %> |
<%= link_to 'Back', penalty_repayments_path %>
