<% if signed_in? %>
<aside class="left-side sidebar-offcanvas">
                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">
                    <!-- Sidebar user panel -->
                    <div class="user-panel">
                        <div class="pull-left image">
                            <%= image_tag("avatar04.png", :class=>"img-circle")%>
                        </div>
                        <div class="pull-left info">
                            <p>Hello, <%= current_user.name %></p>

                            <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                        </div>
                    </div>
                    <!-- search form -->
                    <form action="#" method="get" class="sidebar-form">
                        <div class="input-group">
                            <input type="text" name="q" class="form-control" placeholder="Search..."/>
                            <span class="input-group-btn">
                                <button type='submit' name='seach' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </form>
                    <!-- /.search form -->
                    <!-- sidebar menu: : style can be found in sidebar.less -->
                    <ul class="sidebar-menu">
                        <li class="active">
                            <a href="<%= admin_admin_index_path %>">
                                <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                            </a>
                        </li>
                        
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-bar-chart-o"></i>
                                <span>Chama Admins</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="<%= admin_users_path %>"><i class="fa fa-angle-double-right"></i> View All</a></li>
                                <li><a href="<%= new_admin_user_path %>"><i class="fa fa-angle-double-right"></i> Add New</a></li>
                                
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-laptop"></i>
                                <span>Manage Chamas</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="<%= chamas_path %>"><i class="fa fa-angle-double-right"></i>View All Chamas</a></li>
                                <li><a href="<%= new_chama_path %>"><i class="fa fa-angle-double-right"></i> Add New</a></li>
                                
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-envelope"></i>
                                <span>Chamas Messaging</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="<%= message_managers_path %>"><i class="fa fa-angle-double-right"></i>All Mesage Managers</a></li>
                                <li><a href="<%= new_message_manager_path %>"><i class="fa fa-angle-double-right"></i> Add Message Manager</a></li>
                                
                            </ul>
                        </li>                        
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-edit"></i> <span>Manage SMS</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="<%= sms_fees_path %>"><i class="fa fa-angle-double-right"></i> All SMS Transactions</a></li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-usd"></i> <span>Service Payments</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="<%= service_fees_path %>"><i class="fa fa-angle-double-right"></i> All Payments</a></li>
                                <li><a href="<%= new_service_fee_path %>"><i class="fa fa-angle-double-right"></i> Add a Payment</a></li>
                                <li><a href="#"><i class="fa fa-angle-double-right"></i> Due Payments</a></li>
                                <li><a href="#"><i class="fa fa-angle-double-right"></i> Terminated Services</a></li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-wrench"></i> <span>Settings</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="<%= sms_fees_path %>"><i class="fa fa-angle-double-right"></i> All Settings</a></li>
                                <li><a href="<%= sms_fees_path %>"><i class="fa fa-angle-double-right"></i> Configure Chama</a></li>
                            </ul>
                        </li>
                        
                    </ul>
                </section>
                <!-- /.sidebar -->
            </aside>

<% end %>