<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Service Fee
        <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">service fee</li>
    </ol>
</section>



<p id="notice"><%= notice %></p>

<p>
  <strong>Payment type:</strong>
  <%= @service_fee.payment_type %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @service_fee.amount %>
</p>

<p>
  <strong>Description:</strong>
  <%= @service_fee.description %>
</p>

<p>
  <strong>Next payment due date:</strong>
  <%= @service_fee.next_payment_due_date %>
</p>

<p>
  <strong>Service status:</strong>
  <%= @service_fee.service_status %>
</p>

<p>
  <strong>Txn status:</strong>
  <%= @service_fee.txn_status %>
</p>

<p>
  <strong>Pesapal txn tracking:</strong>
  <%= @service_fee.pesapal_txn_tracking_id %>
</p>

<p>
  <strong>Pesapal merchant reference:</strong>
  <%= @service_fee.pesapal_merchant_reference %>
</p>

<p>
  <strong>Chama:</strong>
  <%= @service_fee.chama %>
</p>

<%= link_to 'Edit', edit_service_fee_path(@service_fee) %> |
<%= link_to 'Back', service_fees_path %>
