<%= form_for(@setting) do |f| %>
  <% if @setting.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @setting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :remittance_deadline %><br>
    <%= f.date_select :remittance_deadline, :class=>"form-control" %>
  </div>
  <div class="field">
    <%= f.label :warning_days_before_deadline %><br>
    <%= f.number_field :warning_days_before_deadline , :class=>"form-control"%>
  </div>
  <div class="field">
    <%= f.label :remittance_reminder_sms %><br>
    <%= f.text_area :remittance_reminder_sms, :class=>"form-control" %>
  </div>
  <div class="field">
    <%= f.label :penalty_reminder_sms %><br>
    <%= f.text_area :penalty_reminder_sms, :class=>"form-control" %>
  </div>
  <div class="field">
    <%= f.label :penalty_type %><br>
    <%= f.select :penalty_type, options_for_select( %w[FLAT PERCENTANGE-ON-REMITTANCE] ), :class=>"form-control" %>
  </div>
  <div class="field">
    <%= f.label :penalty_amount %><br>
    <%= f.text_field :penalty_amount, :class=>"form-control" %>
  </div>
  <div class="field">
    <%= f.label :penalty_repay_periods_in_days %><br>
    <%= f.number_field :penalty_repay_periods_in_days, :class=>"form-control" %>
  </div>

  <% if current_user.role_ids == [1] %>
      <div class="field">
        <%= f.label :chama_id %><br>
        <%= f.collection_select(:chama_id, Chama.all, :id, :name, :include_blank => "Please select Chama", :class=>"form-control") %>
      </div>
  <% end %>

  <br />
  <div class="actions">
    <%= f.submit "Submit", :class=>"btn btn-primary" %>
  </div>
<% end %>
