<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Settings
        <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">settings</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        
        <div class="col-md-6">
            <div class="box box-primary">
              <div class="box-header">
                  <h3 class="box-title"><%= @setting.chama.name %> Configuration<h3>
              </div><!-- /.box-header -->
                <div class="box-body">
                  <p>
                    <strong>Remittance deadline:</strong>
                    <%= @setting.remittance_deadline %>
                  </p>

                  <p>
                    <strong>Warning days before deadline:</strong>
                    <%= @setting.warning_days_before_deadline %>
                  </p>

                  <p>
                    <strong>Remittance reminder sms:</strong>
                    <%= @setting.remittance_reminder_sms %>
                  </p>

                  <p>
                    <strong>Penalty reminder sms:</strong>
                    <%= @setting.penalty_reminder_sms %>
                  </p>

                  <p>
                    <strong>Penalty type:</strong>
                    <%= @setting.penalty_type %>
                  </p>

                  <p>
                    <strong>Penalty amount:</strong>
                    <%= @setting.penalty_amount %>
                  </p>

                  <p>
                    <strong>Penalty repay periods in days:</strong>
                    <%= @setting.penalty_repay_periods_in_days %>
                  </p>

                  <p>
                    <strong>Chama:</strong>
                    <%= @setting.chama.name %>
                  </p>
                  <br />
                  <%= link_to 'Edit Settings', edit_setting_path(@setting) %>

                    
                </div><!-- /.box-body -->
            </div><!-- /. box -->
        </div><!-- /.col -->
        <div class="col-md-6">
            <div class="box box-primary">
              <div class="box-header">
                  <h3 class="box-title">Service Charge<h3>
              </div><!-- /.box-header -->
                <div class="box-body">
                    <h4>
                      Your service will expire on <%= @service_fee.next_payment_due_date %>
                    </h4>
                    <br />
                     <button class="btn btn-success btn-flat">Check Out With</button>
                    <%= link_to @pesapal_url do %>  
                      <%= image_tag("pesapal.jpeg")%>
                    <% end %>
                    
                </div><!-- /.box-body -->
            </div><!-- /. box -->
        </div><!-- /.col -->
</div><!-- /.row -->

</section>

