<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Loan Repayment
        <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">loan_repayment</li>
    </ol>
</section>

<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  <%= @loan_repayment.amount %>
</p>

<p>
  <strong>Loan:</strong>
  <%= @loan_repayment.loan.member.name %>
</p>

<%= link_to 'Edit', edit_loan_repayment_path(@loan_repayment) %> |
<%= link_to 'Back', loan_repayments_path %>
