<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Loans
        <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">loans</li>
    </ol>
</section>


<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
          <div class="box">
                  <div class="box-header">
                      <h3 class="box-title">All Loans </h3>
                  </div><!-- /.box-header -->
                  <%= will_paginate @loans %>
                  <div class="box-body no-padding">
                      <table class="table table-striped">
                           <tr>
                              <th>Loan amount requested</th>
                              <th>Repay period in months</th>
                              <th>Interest rate pa(%)</th>
                              <th>Loan interest method</th>
                              <th>Monthly installments</th>
                              <th>Repay amount</th>
                              <th>Loan status</th>
                              <th>Installment repay deadline</th>
                              <th>Member</th>
                              <th>Actions</th>
                            </tr>

                          <% @loans.each do |loan| %>
                            <tr>
                              <td><%= loan.loan_amount_requested %></td>
                              <td><%= loan.repay_period_in_months %></td>
                              <td><%= loan.interest_rate_pa %></td>
                              <td><%= loan.loan_interest_method %></td>
                              <td><%= loan.monthly_installments %></td>
                              <td><%= loan.repay_amount %></td>
                              <td><%= loan.loan_status %></td>
                              <td><%= loan.installment_repay_deadline %></td>
                              <td><%= link_to loan.member.name, loan %></td>
                              
                              <td><%= link_to 'Edit', edit_loan_path(loan) %>
                              <%= link_to 'Delete', loan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                            </tr>
                           <% end -%>
                          
                      </table>


                      <%= link_to "Apply For a Loan", new_loan_path, :class => 'btn btn-primary' %>
                  </div><!-- /.box-body -->
              </div><!-- /.box -->
        </div>
    </div>
</section>
