<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        SMS Bundles
        <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">sms bundles</li>
    </ol>
</section>


<!-- Main content -->
<section class="content">
        
        <div class="col-md-6">
            <div class="box box-primary">
              <div class="box-header">
                  <h3 class="box-title">Buy SMS Bundle<h3>
              </div><!-- /.box-header -->
                <div class="box-body">
                    <p id="notice"><%= notice %></p>

                    <p>
                      <strong>Package:</strong>
                      <%= @sms_fee.package %>
                    </p>

                    <p>
                      <strong>Amount:</strong>
                      <%= @sms_fee.amount %>
                    </p>

                    <p>
                      <strong>Txn status:</strong>
                      <%= @sms_fee.txn_status %>
                    </p>

                    <p>
                      <strong>Pesapal txn tracking:</strong>
                      <%= @sms_fee.pesapal_txn_tracking_id %>
                    </p>

                    <p>
                      <strong>Pesapal merchant reference:</strong>
                      <%= @sms_fee.pesapal_merchant_reference %>
                    </p>

                    <p>
                      <strong>Chama:</strong>
                      <%= @sms_fee.chama.name %>
                    </p>

                    <br />
                    <%= link_to 'Edit', edit_sms_fee_path(@sms_fee) %> |
                    <%= link_to 'Back', msg_manager_path(correct_message_manager(current_user)) %>
                    
                </div><!-- /.box-body -->
            </div><!-- /. box -->
        </div><!-- /.col -->
        <div class="col-md-6">
            <div class="box box-primary">
              <div class="box-header">
                  <h3 class="box-title">Checkout<h3>
              </div><!-- /.box-header -->
                <div class="box-body">
                    <button class="btn btn-success btn-flat">Check Out With</button>
                    <%= link_to @pesapal_url do %>  
                      <%= image_tag("pesapal.jpeg")%>
                    <% end %>
                    
                </div><!-- /.box-body -->
            </div><!-- /. box -->
        </div><!-- /.col -->
</div><!-- /.row -->



