<%= form_for(@chama) do |f| %>
  <% if @chama.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chama.errors.count, "error") %> prohibited this chama from being saved:</h2>

      <ul>
      <% @chama.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Chama Name" %><br>
    <%= f.text_field :name, :class=>"form-control" %>
  </div>
  <div class="field">
    <%= f.label "Chama Description" %><br>
    <%= f.text_area :description ,:class=>"form-control" , :rows=>"3"%>
  </div>
  <div class="field">
    <%= f.label "Chama Type" %><br>
    <%= f.select :chama_type, options_for_select( %w[MERRY-GO-ROUND INVESTMENTS] ), :class=>"form-control" %>
  </div>
  <div class="field">
    <%= f.label :approx_no_of_members %><br>
    <%= f.number_field :approx_no_of_members , :class=>"form-control" %>
  </div>
  <div class="field">
    <%= f.label :"Chama Administrator" %><br>
    <%= f.collection_select(:user_id, User.all, :id, :name, :include_blank => "Please select chama admin", :class=>"form-control") %>
  </div>
  <div class="actions">

    <%= f.submit "Create", :class=>"btn btn-primary" %>
  </div>
<% end %>
