<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
          <div class="box">
                  <div class="box-header">
                      <h3 class="box-title">All Chamas </h3>
                  </div><!-- /.box-header -->
                  <%= will_paginate @chamas %>
                  <div class="box-body no-padding">
                      <table class="table table-striped">
                          <tr>
                              <th >#</th>
                              <th>Name</th>
                              <th>Type</th>
                              <th>Administrator Name</th>
                              <th>Approx No of Members</th>
                              <th>Description</th>
                              <th>Actions</th>
                          </tr>
                          <% @chamas.each do |chama| -%>
                          <tr>
                              <td>
                                  <%= chama.id %>
                              </td>
                              <td>
                                  <%= link_to chama.name, chama_path(chama) %>
                              </td>
                              <td>
                                 <%= chama.chama_type %>
                              </td>
                              <td>
                                 <%= chama.user.name %>
                              </td>
                              <td>
                                  <%= chama.approx_no_of_members %>
                              </td>

                              <td>
                                  <%= chama.description %>
                              </td>

                                                          
                              <td>
                                <%= link_to "Edit", edit_chama_path(chama) %>
                                <%= link_to "Delete", chama_path(chama), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
                              </td>
                          </tr>
                           <% end -%>
                          
                      </table>


                      <%= link_to "Add A New Chama", new_chama_path, :class => 'btn btn-primary' %>
                  </div><!-- /.box-body -->
              </div><!-- /.box -->
        </div>
    </div>
</section>


