<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @chama.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @chama.description %>
</p>

<p>
  <strong>Type:</strong>
  <%= @chama.chama_type %>
</p>

<p>
  <strong>Approx no of members:</strong>
  <%= @chama.approx_no_of_members %>
</p>

<p>
  <strong>User:</strong>
  <%= @chama.user %>
</p>

<%= link_to 'Edit', edit_chama_path(@chama) %> |
<%= link_to 'Back', chamas_path %>
