
<div class="row">
	<div class="col-md-2">
	</div>
	<div class="col-md-8 somepadding">

		<p id="notice"><%= notice %></p>
		
		<div class="thumbnail">
		  <%= image_tag(@post.photon)%>
		</div>

		<p>
		  <strong>Caption:</strong>
		  <%= @post.caption %>
		</p>

		<p>
		  <strong>Posted By:</strong>
		  <%= @post.user.username %>
		</p>

		<div class="pull-right">
			Posted <i><%= time_ago_in_words(@post.created_at) %> ago</i>
		</div>

		<br />

		<% if @post.comments.any? %>

			<ul>
				<% @post.comments.each do | comment |%>
					<span class="blue-cl"><%= comment.user.username %></span> &nbsp; <%= comment.content %> - <i><%= time_ago_in_words(comment.created_at) %> ago</i> <br>
				<% end %>
			</ul>
		<% end %>

		<a href="<%= new_comment_path(:post_id => @post.id) %>" >
				Comment
                                <i class="fa fa-comment"></i>
			    </a>

			    | <a href="<%= like_post_posts_path(:id => @post.id) %>" >
				Like
                                <i class="fa fa-heart"></i>
			    </a>
    	</div>
	<div class="col-md-2">
	</div>
</div>


