<%= form_for(@penalty) do |f| %>
  <% if @penalty.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@penalty.errors.count, "error") %> prohibited this penalty from being saved:</h2>

      <ul>
      <% @penalty.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :member_id %><br>
    <%= f.collection_select(:member_id, authorized_members(), :id, :name, :include_blank => "Please select Member", :class=>"form-control") %>
  </div>
  <div class="field">
    <%= f.label :penalty_type %><br>
    <%= f.select :penalty_type, options_for_select( %w[LATE-REMITTANCE LOAN-DEFAULTING OTHERS] ), :class=>"form-control" %>
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.text_field :amount,:class=>"form-control" %>
  </div>
  <div class="field">
    <%= f.label :due_date %><br>
    <%= f.date_select :due_date ,:class=>"form-control"%>
  </div>
  <div class="field">
    <%= f.label :penalty_status %><br>
    <%= f.select :penalty_status, options_for_select( %w[NOT-PAYED PAYED] ), :class=>"form-control" %>

  </div>
  <br />
  <div class="actions">
    <%= f.submit "Submit", :class=>"btn btn-primary" %>
  </div>
<% end %>
