<p id="notice"><%= notice %></p>

<p>
  <strong>Penalty type:</strong>
  <%= @penalty.penalty_type %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @penalty.amount %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @penalty.due_date %>
</p>

<p>
  <strong>Penalty status:</strong>
  <%= @penalty.penalty_status %>
</p>

<p>
  <strong>Member:</strong>
  <%= @penalty.member %>
</p>

<%= link_to 'Edit', edit_penalty_path(@penalty) %> |
<%= link_to 'Back', penalties_path %>
